<div ng-view class="container"></div>

<script src="~/Views/app/app.js"></script>
<script src="~/Views/index/indexController.js"></script>
<script src="~/Views/about/aboutController.js"></script>

<script>
    angular.bootstrap(document, ['instagram-collage-app']);
</script>